
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #28aacb;
  padding: 10px 100px;
}

.navbar h2 {
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

.nav-links li a:hover {
  text-decoration: underline;
}
